.vim/doc/*
.DS_Store
.vim/.netrwhist
*.pyc
.moc/cache/
.moc/equalizer
.moc/last_directory
.moc/softmixer
*.orig
.emacs.d/auto-save-list/*
.emacs.d/elpa/archives/*
*.elc
.emacs.d/ac-comphist.dat
*.swp
.emacs.d/ido.last
.emacs.d/.project-roots
.vim/bundle/mwiki
.emacs.d/recentf
.pentadactyl/info/default/command-history
.pentadactyl/info/default/local-marks
.pentadactyl/info/default/register-ring
.moc/pid
