snippet title
	---
	layout: post
	title: 
	tags: 
	categories:
	---
snippet highlight
	{% highlight bash linenos %}
	{% endhighlight %}
snippet table
	${1:First Header} | ${2:Second Header} | ${3:Third Header}
	:-----------------| :-----------------:| :-----------:
	${4:Left}         | ${5:Center}        | ${6:Right}
snippet link
	[localhost][0]
	[0]:http://localhost   "localhsot"

